<p id="notice"><%= notice %></p>

<div class="row-fluid">
    <div class="span3">
    	<b>Name:</b>
  		<%= @post.name %>
  	</div>
    <div class="span6">
    	 <b>Title:</b>
 		 <%= @post.title %>
    </div>
    <div class="span90" style="float:right">
    	 <b>Content:</b>
  		 <%= @post.content %>
    </div>
    <div class="span1" style="float:right">
    	<b>Tags:</b>
  		<%= join_tags(@post) %>
    </div>
</div>
<hr>
<h4>Comments</h4>
<%= render :partial => "comments/comment",
           :collection => @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
<ul class="pager">
  <li><%= link_to 'Back', posts_path %></li>
  <li><%= link_to 'Edit', edit_post_path(@post) %></li>
</ul>
